<footer class="footer bg-dark rounded-top text-center">
    <div class="container py-2">
        <p class="text-white">
            &copy; {{ autor.name + ' ' + autor.last_name}}
        </p>
    </div>
</footer>
