<div class="container" id="advanced-search-form">
    <h2>Shipping information </h2>
    <form>
        <div class="form-group">
            <label for="first-name">Address</label>
            <input type="text" class="form-control" placeholder="Address" id="first-name">
        </div>
        <div class="form-group">
            <label for="last-name">City</label>
            <input type="text" class="form-control" placeholder="City" id="last-name">
        </div>
        <div class="form-group">
            <label for="country">Department</label>
            <input type="text" class="form-control" placeholder="Department" id="country">
        </div>
        <div class="form-group">
            <label for="number">Country</label>
            <input type="text" class="form-control" placeholder="Country" id="number">
        </div>
        <div class="form-group">
            <label for="age">Postal Code</label>
            <input type="text" class="form-control" placeholder="Postal Code" id="age">
        </div>
        <div class="form-group">
            <label for="email">Phone</label>
            <input type="email" class="form-control" placeholder="Phone" id="email">
        </div>
        
        <div class="clearfix"></div>
        <button type="submit" name="purchase" [routerLink]="['/payment']" class="btn btn-info btn-lg btn-responsive">Continue</button>
        <!-- <button type="submit"  class="btn btn-info btn-lg btn-responsive" id="search" routerLink]="['/payment']">Continue to Payment</button> -->
    </form>
</div>
