<div class="card bg-dark text-white">
    <div class="card-header">{{title}}</div>
    <div class="card-body">

        <form>
            <div class="form-group row">
                <label for="name" class="col-form-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.name" name="name">

                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-form-label col-sm-2">Description</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.description" name="description">
                </div>
            </div>


            <div class="form-group row">
                <label for="price" class="col-form-label col-sm-2">Price</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.price" name="price">
                </div>
            </div>


            <div class="form-group row">
                <label for="amount" class="col-form-label col-sm-2">Amount</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.amount" name="amount">
                </div>
            </div>


            <div class="form-group row">
                <label for="category" class="col-form-label col-sm-2">Category</label>
                <div class="col-sm-6">
                    <mat-form-field  class="form-control">
                      <mat-select [(ngModel)]="product.category" name="category">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                          {{category.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'
                        *ngIf="!product.id else elseBlock">Create Product</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Edit</button>
                    </ng-template>
                </div>
            </div>
        </form>


    </div>
</div>