<product-detail *ngIf="selectedProduct" [product] = "selectedProduct"></product-detail>
<div class="card border-success mb-3">
    <div class="card-header">Products</div>
    <div class="card-body text-success">
        <h5 class="card-title">Product List</h5>
        <div class="my-2" text-left>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/products/form']">Create </button>
        </div>
        <div *ngIf="products.length==0" class="alert alert-info">
            There are not products available. 
        </div>
        <table class="table table-bordered table-striped" *ngIf="products.length>0">
            <thead>
                <tr>
                    <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Last update </th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">
                        Edit
                    </th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">  Delete</th>
                    <th *ngIf="authService.hasRole('ROLE_USER')">  Purchase </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="openModal(product)" *ngIf="product?.picture"
                        src="http://localhost:8080/stock-api/products/uploads/img/{{product.picture}}"
                        alt="{{product.picture}}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                        
                        <img (click)="openModal(product)" *ngIf="!product?.picture"
                        src="http://localhost:8080/img/no-img.png"
                        alt="Without picture" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                    </td>
                    <td>{{ product.name}}</td>
                    <td>{{ product.description}}</td>
                    <td>{{ product.amount}}</td>
                    <td>{{ product.price}}</td>
                    <td>{{ product.lastUpdated}}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="edit" [routerLink]="['/products/form',product.id]"
                            class="btn btn-primary">Edit</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="delete" (click)='delete(product)'
                            class="btn btn-danger btn-sm">Delete</button>

                    </td>
                    <td *ngIf="authService.hasRole('ROLE_USER')">
                        <button type="button" name="delete" [routerLink]="['/purchase']"
                            class="btn btn-danger btn-sm">BUY</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>