<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="dumbbell">Dumbbells</a></li>
            <li><a class="dropdown-item" routerLink="treadmills">Treadmills</a></li>
            <li><a class="dropdown-item" routerLink="multi-excersicing">Multi-Excersicing Machines</a></li>
            <li><a class="dropdown-item" routerLink="multi-gym">Multi-Gym Machines</a></li>
            <li><a class="dropdown-item" routerLink="abdominal">Abdominal Equipment</a></li>
            <li><a class="dropdown-item" routerLink="yoga">Yoga</a></li>



            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="products">All products</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="how-to-buy">How to Buy</a>
        </li>
      </ul>
      
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="login" class="btn btn-outline-primary">Sing In</a></li>

        <!-- <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
            {{authService.user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button class="dropdown-item" type="submit">Sign Out</button>
          </div>
        </li> -->

        <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{authService.user.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>