<app-header></app-header>
<div class="container">
  <h1>
    <br>
    {{title}}
    <br>
  </h1>
  
</div>
<br>
<div class="container my-3 wrap" >
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>