<div class="open-modal animation fadeIn" *ngIf="modalService.modal">
<div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <ul *ngIf="product" class="list-group text-dark mb-4">
                            <li class="list-group-item active"> {{product.name}}</li>
                            <li class="list-group-item "> {{product.description}}</li>
                            <li class="list-group-item "> {{product.amount}}</li>
                            <li class="list-group-item "> {{product.category}}</li>
                            <li class="list-group-item "> {{product.lastUpdated | date:"fullDate"}}</li>
                        </ul>
                        <div class="input-group mb-2" *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <div class="custom-file">
                                <label for="formFileLg" class="form-label">Select the product's picture</label>
                                <input (change)="selectPicture($event)" class="form-control form-control-lg" id="formFileLg"
                                    type="file">
                                <br>
                                <button (click)="uploadPicture()" [disabled]="!selectedPicture" for="formFileLg"
                                    class="btn btn-outline-secondary form-label" type="button"
                                    id="inputGroupFileAddon04">Upload</button>
                            </div>
                        </div>
    
                        <div *ngIf="progress>0" class="progress" >
                            <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progress+'%'}"
                                attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="height: 40 px;">
                                {{progress}}%
                            </div>
                        </div>
                    </div>
    
                    
    
                    <div class="col-sm">
                        <img *ngIf="product?.picture"
                            src="http://localhost:8080/stock-api/products/uploads/img/{{product.picture}}"
                            alt="{{product.picture}}" class="img-thumbnail rounded">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

