/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
html{
    position: relative;
    min-height: 100%;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; margin-bottom: 60px;}


.wrap{
    padding-bottom: 30px;
}